#wrapper {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
}

.chart {
    padding: 2px;
    margin: 3px;
}

.layout {
    background-color: #ffffff;
}

.className {
    margin: 0;
    padding: 0;
    display: block;
}
