.controlBox {
    position: absolute;
    display: inline-block; 
    top: -40px;
    left: 15%;
}

.showValue {
    padding: 5px 20px;
    background-color: #ffffff;
    color: #63648c;
    border: 1px solid #d7d8da;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "euclid_circular";
    cursor: pointer;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.showValue:hover {
    border: 1px solid #63648c;
    color: #63648c;
}

