.tabs {
    position: relative; 
    padding-left: 15px;
    margin: 10px 0px 0px 0px;
    background-color: #ffffff;
}

.tab, .tab-title {
    display: inline-block; 
}

.tab input[type="radio"] { display: none; }

.tab-title {
    background: #ffffff; 
    cursor: pointer;
    padding: 5px 0px 12px 0px;
    width: 100%;
    color: #c4c3c3;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.tab-content {
    background-color: #e0e3eb;
    position: absolute; 
    border-top: 1.5px solid #e0e3eb; 
    left: -1px; 
    width: 100%;
    min-height: 94.5vh;
    display: none; 
}

.tab :checked + .tab-title {
    position: relative; 
    background: #ffffff;
    color: black;
    z-index: 1;
}
   
.tab :checked ~ .tab-content {
    display: block; 
}

.chart-content {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.first-title {
    position: relative;
    text-align: center;
}

.second-title {
    text-align: center;
    margin-left: 15px;
}

.saved {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    bottom: 20px;
    right: -10px;
    width: 5px;
    height: 5px;
}
