.tabs {
    position: relative; /* Относительное позиционирование */
    padding-top: 30px;
    padding-left: 50px;
}

.tab, .tab-title {
    display: inline-block; /* Выстраиваем по горизонтали */
}

.tab input[type="radio"] { display: none; }

.tab-title {
    background: #4CAF50; /* Цвет фона */
    padding: 5px 10px; /* Поля вокруг текста */
    border: 1px solid #4CAF50; /* Параметры рамки */
    border-bottom: none; /* Снизу линию убираем */
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    font-size: 15px;
}

.tab-content {
    position: absolute; /* Абсолютное позиционирование */
    border: 1px solid #4CAF50; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    left: 0; /* Размещаем у левого края */
    width: calc(100% - 20px); /* Ширина содержимого */
    display: none; /* Прячем вкладку */
}

.tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #ffffff; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
}
   
.tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
}
