body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#root {
    position: relative;
}

:root {
    /* Light mode */
    --light-text: rgb(52, 52, 52);
    --light-text-checked: #c4c3c3;
    --light-bg: #fff;
    --light-theme: #e0e3eb;
    --light-tr-hover: rgba(232, 229, 230, 0.3);
  
    /* Dark mode */
    --dark-text: #dbe2e8;
    --dark-text-checked: #999999;
    --dark-bg: #161b22;
    --dark-theme: #31373d;
    --dark-tr-hover: rgba(182, 181, 181, 0.1);

    /* Default mode */
    --text-color: var(--light-text);
    --text-checked: var( --light-text-checked);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --tr-hover: var(--light-tr-hover);

    /* Light table mode */
    --light-depth-bids: #fff4f6;
    --light-depth-asks: #ecfff6;
    --light-compare-asks: rgba(230, 255, 241);
    --light-compare-bids: rgba(254, 241, 242);

    /* Dark table mode */
    --dark-depth-bids: #2e1e25;
    --dark-depth-asks: #1a2b29;
    --dark-compare-asks: rgba(16, 40, 33);
    --dark-compare-bids: rgba(53, 20, 29);

    /* Default table mode */
    --depth-bids: var(--light-depth-bids);
    --depth-asks: var(--light-depth-asks);
    --compare-asks: var(--light-compare-asks);
    --compare-bids: var(--light-compare-bids);

    /* Dark theme mode */
    /* --dark-switch-content: '☾'; */
    --dark-switch-content: url('./media/moon.png');
    --dark-switch-color: white;
    --dark-switch-text: "Dark Mode";

    /* Light theme mode */
    /* --light-switch-content: '☀'; */
    --light-switch-content: url('./media/sun.png');
    --light-switch-color: black;
    --light-switch-text: "Light Mode";

    /* Default table mode */
    --switch-content: var(--light-switch-content);
    --switch-color: var(--light-switch-color);
    --switch-text: var(--light-switch-text);
}


#themeSwitch:checked ~ #page {
    --text-color: var(--dark-text);
    --text-checked: var( --dark-text-checked);
    --bg-color: var(--dark-bg);
    --theme-color: var(--dark-theme);
    --tr-hover: var(--dark-tr-hover);

    --depth-bids: var(--dark-depth-bids);
    --depth-asks: var(--dark-depth-asks);
    --compare-asks: var(--dark-compare-asks);
    --compare-bids: var(--dark-compare-bids);

    --switch-content: var(--dark-switch-content);
    --switch-color: var(--dark-switch-color);
    --switch-text: var(--dark-switch-text);
}

#themeSwitch {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.switchLabel {
    position: absolute;
    top: 8px;
    right: 20px;

    width: 100px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.switchLabel::before {
    background-image: var(--switch-content);
    background-size: 18px 18px;
    transform: rotate(-45deg);

    display: inline-block;

    width: 18px;
    height: 18px; 
    content:"";

    margin: 4px 4px 4px 0px;
}
  
.switchLabel::after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans",
                Ubuntu, Cantarell, "Helvetica Neue",  sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 11px;
    font-weight: 400;

    content: var(--switch-text);
    color: var(--switch-color);

    margin: 4px 0px 4px 4px;
}

.switchLabel:hover {
    background-color: var(--theme-color);
    border-radius: 4px;
}
